.mobile-logo {
  display: flex;
  margin-right: 8px;
  color: pink;
}

.desktop-logo {
  margin-right: 8px;
}

.desktop-logo, .mobile-logo {
  width: 175px;
  height: 175px;

}
.full-plan {
 border: 2px solid gold; 
 padding: 10px;
 margin-right: 100px;
 display: inline;
 font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
 .full-plan {
    display: none;
 }
}

@media screen and (max-width: 414px) {
  .title {
    display: none;
  }
}

.sub-heading h2 {
 margin: 0;
 font-weight: normal;
 font-size: 1.5em;
 color: #6f7571;
}
.slogan-top {
 margin-bottom: 0; 
 margin-top: 100px;
}

.slogan-bottom {
 margin-bottom: 50px; 
 margin-top: 0;
}
.slogan-top, .slogan-bottom {
 font-size: 2em;
 font-weight: normal;
}
